/* Veg Diet Div */

.vegDiv{
    background-image: url("../images/veg.jpg");
    height: 20cm;
    background-repeat: no-repeat;
    width: 100%;
}

/* Card Veg */

#cardVeg{
    width: 100%;
    margin-bottom: 2px;
    margin-left: 25px;
    border-radius: 20px;
}

/* Veg Button */

#vegDiet{
    font-family: "Papyrus";
    font-size: 30px;
}

#vegButton{
    font-family: "Lucida Handwriting";
    font-size: 16px;
}

/* Card Media */

#cardMedia{
    margin: 5%;
}

/* Typography */

#meal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#timing{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}