/* Div */

.tuesdayDiv{
    background-image: url("../images/tuesday.jpg");
    height: 20cm;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
}

/* Tuesday Button */

#tuesday{
    font-family: "Perpetua";
    font-size: 30px;
}

#tuesdayButton{
    font-family: "Lucida Handwriting";
    font-size: 16px;
}

/* Card */

#cardTuesday{
    width: 100%;
    margin-left: 19px;
    margin-bottom: 2px;
    border-radius: 20px;
}

/* Card Media */

#cardMedia{
    margin: 5%;
}

/* Typography */

#meal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#timing{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}